body {
    color: #333333;
    font-family: monospace;
}

h1 {
    margin: 20px 0px 0px 0px;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 0px auto;
    border: 1px solid #ccc;
    display: flex;
}

.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}
